#body
{
    position: absolute;
    height: 80%;
    top: 10vh;
}

#lista
{
    li
    {
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.titulo
{
    text-align:left;
    margin-left: 5%;
}
 
p
{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

#pepe
{
    background-color: rgb(204, 190, 190);
    border-radius: 12%;
    width: 60%;
}